.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  opacity: 0.2;
}
